meta(charset='UTF-8')
title 錯誤
link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
link(href='/stylesheets/color.css' rel='stylesheet')
script(src='/javascripts/bootstrap.min.js')
body.blue-c
div.text-center
    h1 密碼錯誤或是帳號沒有註冊哦
    br
    a.btn.btn-info(href='/' style='margin-right:10px') 點我回登入介面
    a.btn.btn-warning(href='/register') 點我註冊